<style>
	/* Define the default styles for the navbar items */
	.navbar {
		display: flex;
		flex-direction: column
	}

		.navbar ul li a {
			display: flex;
			align-items: center;
			padding: 12px 18px;
			margin: 4px 8px;
			gap: 10px;
			transition: background-color 0.4s;
			border-radius: 8px;
		}

			.navbar ul li a:hover {
				background-color: #013366;
				transition: background-color color 0.4s 0.05s;
				color: white;
			}
</style>

<div class="navbar">
	<ul>
		<li>
			<a href="">
				<MudIcon Icon="@Icons.Material.Filled.Bolt" /><span>BIG DEAL</span>
			</a>
		</li>
		<li><a href="counter">
				<MudIcon Icon="@Icons.Material.Filled.ShoppingCart" /><span>Mua hàng</span>
			</a>
		</li>
	</ul>
</div>


