<link rel="stylesheet" type="text/css" href="css/nav_menu.css" />

<div class="navbar">

	@for (int i = 0; i <= 1; ++i)
	{
		var currentIndex = i;
		<a href="@menuItems[i].page" class="@(currentPageIndex == i ? "current-page" : "")"
		@onclick="() => changeCurrentPageIndex(currentIndex)">
			<MudIcon Icon="@menuItems[i].icon" /><span>@menuItems[i].title</span>
		</a>
	}
</div>

@inject NavigationManager Navigation
@code {
	private class MenuItem
	{
		public string? page { get; set; }
		public string? icon	{ get; set; }
		public string? title { get; set; }
	}

	private MenuItem[] menuItems = new MenuItem[]
	{
		new MenuItem {
			page = "/", 
			icon = Icons.Material.Filled.Bolt,
			title = "BIG DEAL",
		},
		new MenuItem { 
			page = "go_shopping",
			icon = Icons.Material.Filled.ShoppingCart, 
			title = "Mua hàng",
		},
	};

	private int currentPageIndex;

	protected override void OnInitialized()
	{
		Uri uri = new Uri(Navigation.Uri);
		string page = uri.Segments[uri.Segments.Length - 1];
		currentPageIndex = Array.FindIndex(menuItems, menuItem => menuItem.page == page);
	}

	private void changeCurrentPageIndex(int index)
	{
		currentPageIndex = index;
	}
}

