@page "/"
@using demo_signalR_2.Components

<PageTitle>BlazorServer</PageTitle>

<style>
    .wrapper {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    .horizontal-list {
        display: flex;
        gap: 12px;
    }

    .horizontal-list::-webkit-scrollbar {
        height: 8px;
        width: 0px;
    }

    .horizontal-list::-webkit-scrollbar-thumb {
        border-radius: 100vh;
    }

    .horizontal-list::-webkit-scrollbar-thumb:hover {
        background: #FFEE12;
    }

    .item {
        min-width: 227px;
        height: 320px;
        line-height: 300px;
        background-color: white;
        text-align: center;
        border-radius: 8px;
        transition: transform 0.2s;
    }

    .horizontal-list .item {
        margin-bottom: 8px;
    }

    .wrapper .item:hover {
        transform: scale(1.15);
        transition: transform 0.4s 0.1s;
        background: linear-gradient(#D601AA,  #FFEE12)
    }
</style>

<div class="d-flex flex-column gap-4 ma-4">
    <div class="d-flex flex-column rounded py-6 px-6 gap-2 " 
         style="background-color: #013366">

        <div class="d-flex align-center gap-2" style="color: #FFEE12">
            
            <ClockCountDown RemainingSeconds="17423"/>
            <MudIcon Icon="@Icons.Material.Filled.Bolt" Size="Size.Large" />
            <MudText Style="font-style: italic; font-size: 28px; font-weight: bold">GIỜ VÀNG DEAL SỐC</MudText>
        </div>

        <div class="wrapper">
            <div class="item">item-1</div>
            <div class="item">item-2</div>
            <div class="item">item-3</div>
            <div class="item">item-4</div>
            <div class="item">item-5</div>
            <div class="item">item-6</div>
            <div class="item">item-7</div>
            <div class="item">item-8</div>

            
        </div>

    </div>

    <div class="d-flex flex-column rounded py-6 px-6 gap-2 "
         style="background-color: #013366">

        <div class="d-flex align-center gap-2" style="color: #FFEE12">

            <ClockCountDown RemainingSeconds="30514" />
            <MudIcon Icon="@Icons.Material.Filled.Bolt" Size="Size.Large" />
            <MudText Style="font-style: italic; font-size: 28px; font-weight: bold">GAMING STATION RTX4000 SERIES</MudText>

        </div>

        <div class="d-flex gap-4">
            <MudImage Src="Assets/Images/pc-backdrop.webp" Style="border-radius: 8px; height: 300px"/>
            <div class="horizontal-list" style="overflow-x: scroll">
                @for (int i = 1; i <= 5; i++)
                {
                    <div class="item px-4 pt-6 pb-4" >
                        <img src="Assets/Images/pc-@(i).webp" style="max-width: 100%"/>
                    </div>
                }
            </div>
        </div>

    </div>

</div>



@code {

}